
@use "sass:color";
@use "sass:meta";
@use "sass:string";
@use "sass:list";

@use "../node_modules/bootstrap/scss/bootstrap";


@use "functions";
@use "mixins";
@use "components";

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;

}

// Estilos globales adicionales
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

